a {
  margin-left: 20px;
}

body {
  padding-left: 20px;
}

.fa-heart {
  color: black;
  &.fa-heart-red {
    color: red;
  }
}

.button {
  color: white;
  margin-top: 5px;
  
  &--green {
    background-color: green;
    color: green;
  }
  
  &--blue {
    background-color: blue;
    color: blue;
  }

  &--red {
    background-color: red;
    color: red;
  }
}
